* {
  body: 0px;
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto';
}
.historyContainer {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  font-size: 15px;
  margin: 30px;
}

.itemsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
}
.item-logo {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}
.time {
  margin-right: 20px;
}
.title {
  margin-right: 20px;
}
.domainUrl {
  margin-right: 20px;
}
